body {
	background-color: #232323;
}


h1{
	display: flex;
	justify-content: center;
	color: white;
	font-family: 'Luckiest Guy', cursive;
}

form{
	display: flex;
	justify-content: center;
}

textarea{
	outline: none;
	resize: none;
}


.card{
	height: 400px;
}

#create {
	padding: auto;
	display: flex;
	justify-content: center;
	background-color: red;
}

#read{
	background-color: orange;
}

#update{
	background-color: green;
}

#delete{
	background-color: blue;
}